/****************** GENERAL *************/

body {
    font-family: karlaregular !important;
}

.container {
    margin: 0;
    padding:50px 0;
}

.btn-red {
	color: #fff;
    background-color: crimson;
}

.center {
    text-align:center;
}

.no-padding {
    padding-left:0 !important;
    padding-right:0 !important;
}

a {
    color:white;
}

button {
    border:0;
}

a, a:focus, a:hover, button, button:hover, button:focus {
    outline-offset: 0 !important; 
    outline:0 !important;
}

hr {
    border-top:1px solid rgba(250,250,250, 0.5) !important;
}

p {
    font-size:20px;
}

/****************** HOMEPAGE *************/

/* Header */

#home .navbar {
    /*background-image:url('../img/global/wall-nav-bg.jpg');*/
    background-color:black;
    background-size: cover;
	margin-bottom:0px;
	/*background:black;*/
	border:0;
    z-index: 1;
    min-height:70px;
    border-bottom: 1px solid;
    border-radius: 0;
    width:100%;
    font-family: karlaregular !important;
}

#home .navbar-default .container {
	margin:0 auto;
    padding: 0 15px;
}

#home .navbar-brand {
    color: white;
    font-family: baskerville !important;
    font-size: 30px;
}

#home .navbar-nav>li>a { 
	line-height:40px;
    font-size: 16px;
    color: white;
}

#home .video-background video {
    width: 100%;
    display: block;
}

<<<<<<< HEAD
.collapse {
    display:block !important;
}

@media screen and (max-width:767px) {
    .nav > li {
        display: inline-block !important;
    }
}

=======
>>>>>>> 466bb0ec87d9c72dd20112bb550cac855cdb9d14
/*Creatives*/

#creatives .navbar {
	margin-bottom:0px;
	/*background:black;*/
	background: black;
	border:0;
    z-index: 1;
    min-height:70px;
    border-bottom: 1px solid;
    width:100%;
}

#creatives .navbar-default .container {
	margin:0 auto;
    padding: 0 15px;
}

#creatives .navbar-brand {
    color: white;
    padding: 15px 0 !important; 
    font-family: baskerville !important;
}


#creatives .navbar-nav>li {
    display: inline-block;
}

#creatives .navbar-nav>li>a { 
	line-height:40px;
    font-size: 25px;
    color: white;
    
}

#creatives .navbar-nav>li>a:hover {
    text-decoration: underline !important;
}

#creatives .video-background video {
    width: 100%;
    display: block;
}

.creative-title {
    
}

.creative-description {
    padding-top: 1%;
}
/****************** MUSICAL STORY *************/

#home div#musical-story {
    position: relative;
    background: url('../img/home/header-brackground.jpg');
    overflow: hidden;
    height: auto;
    font-family: karlaregular;
}

#home div#musical-story .navbar-brand.big {
    font-size: 100px !important;
    margin-top: 300px;
}

@media screen and (max-width: 1199px) {
   #home div#musical-story .navbar-brand.big {
        margin-top: 50px !important;
    }
}

#home div#musical-story .description {
    background: rgba(0,0,0,1);
    padding: 50px;
    margin-top: 50px;
}

#home div#musical-story p {
    font-size: 20px;
    margin-bottom: 30px;
}

#home div#musical-story h3 {
    font-size: 37px;
    margin-bottom: 25px;
}

#home div#musical-story h3, #home div#musical-story p, #home div#musical-story button  {
	color: #FFF;
    position: relative;
    z-index: 3;
}

#home div#musical-story button {
    background:white;
    padding:10px 20px;
    color:white;
}

#home div#musical-story button {
   background:#f92a2a;
}

@media screen and (max-width: 991px) {
   #home div#musical-story .description {
        margin-top: 200px;
    }
}

/*
VIDEO RESPONSIVE
*/

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 150px) !important;
    -ms-transform: translate(0, 150px) !important;
    -o-transform: translate(0, 150px) !important;
    transform: translate(0, 150px) !important;
}

/****************** CHARACTERS *************/

#characters {
    background: white;
}    

#characters .feature .info {
    margin-top: 40px;
}

#characters .feature .backwards.info {
    padding-left: 40px;
}

#characters .feature .info p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 24px;
    width: 83%;
    font-weight: 400;
}

#characters .feature .image img {
    height: 600px;
    object-fit: cover;
}

@media screen and (min-width: 992px) {
    #characters .feature.backwards .info {
        float:right;
    }
    #characters .feature.regular .image {
        padding-left:0;
    }
    #characters .feature.backwards .info {
        padding-left:50px;
    }
    #characters .feature.backwards .image {
        padding-right:0;
    }
    #characters .feature.backwards .info p {
        width:100%;
    }
}

@media screen and (max-width: 991px) {
    #characters .feature .info p {
        width:100%;
    }
    #characters .row.feature p {
        margin:25px 0 40px 0;
    }
    #characters .feature .info {
        margin-top: 60px !important;
    }
}

/****************** MUSIC *********************/

#music {
    position: relative;
    background: url('../img/music/music-background.jpg');
    overflow: hidden;
    height: auto;
    color:white;
}

#music .row {
    height: 200px;
    position:relative;
}

#music .audio {
    height: 100px;
}

#music .audio audio {
    position: absolute;
    bottom: 0;
}

@media screen and (min-width:1199px) {
    #music .description {
        height: 200px;
    }
    #music .description p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 15px;
    }
    #music .audio {
        margin-top: 40px;
    }
}

@media screen and (max-width:1199px) {
    #music .description p {
        margin: 30px 0;
    }
    #music .row {
        height: 100%;
    }
}

/****************** ARROW *********************/

#back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px !important;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
  background-color: black;
  text-align: center;
  display:none;
  padding: 10px 0 0 0;
}
 
#back-to-top i {
  font-size: 60px;
}

/****************** VIDEO CONFIGS *************/

video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

/****************** FOOTER *************/

#footer {
    background: black;
    color: white;
}

