/**********************************
GENERAL *************/

body, p, a {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: 0.3px !important;
}

h1, h2, h3, h4 {
    font-family: true_crimesregular !important;
}

h1 {
    font-size: 50px !important;
}

.container {
    margin: 0;
    padding:50px 0;
}

.btn-red {
	color: #fff;
    background-color: crimson;
}

.center {
    text-align: center;
}

.centered{
    float: none;
    margin: 0 auto;
}

.no-padding {
    padding-left:0 !important;
    padding-right:0 !important;
}

a {
    color:white;
}

a:focus, a:hover {
    color: dimgrey !important;
}

a, a:focus, a:hover, button, button:hover, button:focus {
    outline-offset: 0 !important; 
    outline:0 !important;
}

button {
    border:0;
}

p {
    font-size:20px;
}

/**********************************
HOME PAGE *************/

.title {
    text-align: center;
}

/* Header */

#home .navbar {
    /*background-image:url('../img/global/wall-nav-bg.jpg');*/
    background-color: rgba(0, 0, 0, 0.82);
    background-size: cover;
	margin-bottom:0px;
	/*background:black;*/
	border:0;
    z-index: 2;
    min-height:70px;
    border-bottom: 1px solid;
    border-radius: 0;
    width:100%;
    font-family: karlaregular !important;
    position: fixed;
    
}

#home ul {
    width: 80%;
}

#home ul li {
    margin: 0 5%;
}

#home .navbar-default .container {
	margin:0 auto;
    padding: 0 15px;
}

#home .navbar-brand {
    color: white;
    font-family: baskerville !important;
    font-size: 30px;
    
}

.logo-mark {
    height: 50%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(71%);
}

.logo-mark img {
    width: 100%;
    height: auto;
}

#home .navbar-nav>li>a { 
	line-height:40px;
    font-size: 16px;
    color: white;
}

#home .video-background video {
    width: 100%;
    display: block;
}

.collapse {
    display:block !important;
}

@media screen and (max-width:767px) {
    
    #home .navbar {
        min-height:58px;
    }

    #home .navbar-header {
        display: none;
    }

    #home ul {
        margin: 0 auto;
        max-width: 249px;
        margin-top: 2px;
    }
    
    #home ul li:nth-child(4) {
        margin-left: 12%;
    }
    
    #home ul li a {
        padding: 0 0;
    }
    
    .nav > li {
        display: inline-block !important;
        margin: 0 0; 
    }

    #home .navbar-nav>li>a { 
        line-height:25px;
    }
}

/**********************************
CREATIVES PAGE *************/

#creatives {
    background-image: url(../img/BlackMetal.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.creatives hr {
    border: none;
    height: 1px;
    background:lightgray;
    width:100%;
}

.creative-description {
    padding-top: 1%;
}

/**********************************
MUSICAL STORY PAGE *************/

#home {
    background: url('../img/blackwall03.jpg');
    background-attachment: fixed;
}
#home div#musical-story {
    position: relative;
    padding-top: 70px;
    overflow: hidden;
    height: auto;
    font-family: karlaregular;
    z-index: 1;
}

#home div#musical-story .navbar-brand.big {
    font-size: 100px !important;
    margin-top: 300px;
}

@media screen and (max-width: 1199px) {
   #home div#musical-story .navbar-brand.big {
        margin-top: 50px !important;
    }
}

#home div#musical-story .description {
    background: rgba(0, 0, 0, 0.27);
    padding: 50px;
    margin-top: 50px;
}

#home div#musical-story p {
    font-size: 20px;
    margin-bottom: 30px;
}

#home div#musical-story h3 {
    font-size: 37px;
    margin-bottom: 25px;
}

#home div#musical-story h3, #home div#musical-story p, #home div#musical-story button  {
	color: #FFF;
    position: relative;
    z-index: 3;
}

#home div#musical-story button {
    background:white;
    padding:10px 20px;
    color:white;
}

#home div#musical-story button {
   background:#f92a2a;
}

@media screen and (max-width: 991px) {
   
    .logo-mark {
        height: auto;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-25%);
    }
    
    #home div#musical-story .description {
        margin-top: 0;
        padding: 0 0;
    }
    
    #home div#musical-story h3 {
        text-align: center;
    }
}

/**********************************
VIDEO RESPONSIVE *************/

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 150px) !important;
    -ms-transform: translate(0, 150px) !important;
    -o-transform: translate(0, 150px) !important;
    transform: translate(0, 150px) !important;
}

.modal button.close {
    position: absolute;
    background-color: whte;
    color: white;
    right: 20px;
    filter: 0 !important;
    z-index: 99;
    font-size: 50px;
}
/**********************************
CHARACTERS PAGE *************/

#characters {
    color: white;
    background-color: black;
    background-image: linear-gradient( black, #202020 );
}    

#characters .feature .info {
    margin-top: 40px;
}

#characters .feature .backwards.info {
    padding-left: 40px;
}

#characters .feature .info p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 29px;
    width: 83%;
    font-weight: 400;
}

#characters .feature .image img {
    height: 700px;
    object-fit: cover;
}

/****************** Credits *************/

.credits h2, a {
    float: none;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    #characters .feature.backwards .info {
        float:right;
    }
    #characters .feature.regular .image {
        padding-left:0;
    }
    #characters .feature.backwards .info {
        padding-left:50px;
    }
    #characters .feature.backwards .image {
        padding-right:0;
    }
    #characters .feature.backwards .info p {
        width:100%;
    }
}

@media screen and (max-width: 991px) {
    #characters .feature .info p {
        width:100%;
    }
    #characters .row.feature p {
        margin:25px 0 40px 0;
    }
    #characters .feature .info {
        margin-top: 60px !important;
    }
}

/**********************************
SOUNDTRACKS PAGE *************/

#music {
    position: relative;
    background: url('../img/BOGDANGUNLIGHT.png');
    background-attachment: fixed;
    overflow: hidden;
    height: auto;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
}

#music .row {
    height: 200px;
    position:relative;
}

#music .audio {
    height: 100px;
}

#music .audio audio {
    position: absolute;
    bottom: 0;
}

#music hr {
    border-top:1px solid rgba(250,250,250, 0.5) !important;
}

.audio audio {
    width: 60%;
}

@media screen and (min-width:1199px) {
    #music .description {
        height: 200px;
    }
    #music .description p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 15px;
    }
    #music .audio {
        margin-top: 40px;
    }
}

@media screen and (max-width:1199px) {
    #music .description p {
        margin: 30px 0;
    }
    #music .row {
        height: 100%;
    }
}

/****************** ARROW *********************/

#back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px !important;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
  background-color: black;
  text-align: center;
  display:none;
  padding: 10px 0 0 0;
}
 
#back-to-top i {
  font-size: 60px;
}

/****************** VIDEO CONFIGS *************/

video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

/**********************************
FOOTER *************/

footer {
    background: black;
    color: white;
}

/**********************************
CONTACT US *************/

#contact {
    height:600px;
}

#contact p {
    margin:20px 0;
}

/**********************************
MEDIA QUERIES *************/

/****************** Small screens *************/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

    #home .navbar-brand {
        font-size: 4em !important;
    }
    
}

/**********************************
404 PAGE *************/
#error-page a {
    color:black;
}

.nb-error {
  margin: 0 auto;
  text-align: center;
  max-width: 480px;
  padding: 60px 30px;
}

.nb-error .error-code {
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.nb-error .error-desc {
  font-size: 12px;
  color: #647788;
}
.nb-error .input-group{
  margin: 30px 0;
}
