/****************** GENERAL *************/

body {
    font-family: karlaregular !important;
}

.container {
    margin: 0;
    padding:50px 0;
}

.btn-red {
	color: #fff;
    background-color: crimson;
}

.center {
    text-align:center;
}

.no-padding {
    padding-left:0 !important;
    padding-right:0 !important;
}

a {
    color:white !important;
}

button {
    border:0;
}

h4 {
    font-size: 30px !important;
}

/****************** HOMEPAGE *************/

/* Header */

#home .navbar {
	margin-bottom:0px;
	/*background:black;*/
	background: black;
	border:0;
    z-index: 1;
    min-height:70px;
    border-bottom: 1px solid;
    width:100%;
}

#home .navbar-default .container {
	margin:0 auto;
    padding: 0 15px;
}

#home .navbar-brand {
    color: white;
    padding: 15px 0 !important; 
    font-family: baskerville !important;
}

#home .navbar-nav>li>a { 
	line-height:40px;
    font-size: 16px;
    color: white;
}

#home .video-background video {
    width: 100%;
    display: block;
}

/*Creatives*/


#creatives .navbar {
	margin-bottom:0px;
	/*background:black;*/
	background: black;
	border:0;
    z-index: 1;
    min-height:70px;
    border-bottom: 1px solid;
    width:100%;
}

#creatives .navbar-default .container {
	margin:0 auto;
    padding: 0 15px;
}

#creatives .navbar-brand {
    color: white;
    padding: 15px 0 !important; 
    font-family: baskerville !important;
}


#creatives .navbar-nav>li {
    display: inline-block;
}

#creatives .navbar-nav>li>a { 
	line-height:40px;
    font-size: 25px;
    color: white;
    
}

#creatives .navbar-nav>li>a:hover {
    text-decoration: underline !important;
}

#creatives .video-background video {
    width: 100%;
    display: block;
}

.creative-title {
    
}

.creative-description {
    padding-top: 1%;
}
/****************** MUSICAL STORY *************/

#home div#musical-story {
    position: relative;
    background: url('../img/header-brackground.jpg');
    overflow: hidden;
    height:800px;
}

/*#home div#musical-description:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background:url('../img/background-story.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}*/

#home div#musical-story .navbar-brand.big {
    font-size: 100px;
    margin-top: 300px;
}

#home div#musical-story .description {
    background: rgba(0,0,0,0.6);
    padding: 50px;
    margin-top: 50px;
}

#home div#musical-story p {
    font-size: 20px;
    margin-bottom: 30px;
}

#home div#musical-story h3 {
    font-size: 37px;
    margin-bottom: 25px;
}

#home div#musical-story h3, #home div#musical-story p, #home div#musical-story button  {
	color: #FFF;
    position: relative;
    z-index: 3;
}

#home div#musical-story button {
    background:white;
    padding:10px 20px;
    color:white;
}

#home div#musical-story button {
   background:#f92a2a;
}


/*
VIDEO RESPONSIVE
*/

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    transform: translate(0, 150px);
}

/****************** CHARACTERS *************/

#home div#characters {
    background: white;
}    

#home div#characters h1, #home div#characters h4 {
    font-family: true_crimesregular, non-serif;
}

#home div#characters h1 {
    font-weight: bold;
    font-size:80px;
}

#home #characters .feature .info {
    padding-left: 40px;
    margin-top: 40px;
}

#home #characters .feature .info p {
    color: #6C7279;
    font-size: 14px;
    margin-top: 20px;
    line-height: 24px;
    width: 83%;
    font-weight: 400;
}

#home #characters .feature .image img {
    height: 420px;
    object-fit: cover;
}

@media (min-width: 992px) {
    #home #characters .feature.backwards .info {
        float:right;
    }
}

/****************** VIDEO CONFIGS *************/

video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

/****************** FOOTER *************/

#footer {
    background: black;
    color: white;
}

